<%page expression_filter="h"/>
<%!
    from django.conf import settings
    from django.utils.translation import ugettext as _

    PRIVACY_NOTICE_URL = settings.PRIVATE_PORTAL_URL + "/privacy"
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Notice")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container privacy">
        <h1>${_("Privacy Notice")}</h1>
        <p>
            ${_("Redirecting to {linkBegin}Privacy Notice{linkEnd}...").format(
                linkBegin="<a href=\"" + PRIVACY_NOTICE_URL + "\" target=\"_blank\">",
                linkEnd="</a>") | n}
        </p>
    </section>
</main>

<%block name="js_extra">
    <script type="text/javascript">
        window.location.replace('${PRIVACY_NOTICE_URL}');
    </script>
</%block>