<%page expression_filter="h"/>
<%!
    from django.conf import settings
    from django.utils.translation import ugettext as _

    TOS_URL = settings.PRIVATE_PORTAL_URL + "/legal"
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container tos">
        <h1>${_("Terms of Service")}</h1>
        <p>
            ${_("Redirecting to {linkBegin}Terms of Service{linkEnd}...").format(
                linkBegin="<a href=\"" + TOS_URL + "\" target=\"_blank\">",
                linkEnd="</a>") | n}
        </p>
    </section>
</main>

<%block name="js_extra">
    <script type="text/javascript">
        window.location.replace('${TOS_URL}');
    </script>
</%block>