<div class="search-group">
  <form class="search" action="/search" method="GET">
    <input class="search-term" type="text" name="q" placeholder="Search for a course " />
    <button class="search-button" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
