<div class="offer-sidebar" style="height: 0px;">
    <iframe src="${settings.OFFERS_URL}"></iframe>
  </div>
  
  <%block name="headextra">
  <script type="text/javascript">
    ((function() {
      function setOfferSidebarHeight(height) {
        var retry = setInterval(function() {
          var offerSidebar = document.getElementsByClassName('offer-sidebar');
          if (height !== null && offerSidebar.length > 0) {
            offerSidebar[0].style.height = height + 'px';
            clearInterval(retry);
          }
        }, 250);
      }
  
      window.addEventListener('message', function(ev) {
        if (ev.data.hasOwnProperty('height') && !isNaN(ev.data.height)) {
          setOfferSidebarHeight(ev.data.height);
        }
      });
    })());
  </script>
  </%block>