header.header-global {
    background: #313653;
}
.header-global .nav-global li a, .header-global .nav-global div a {
    color: #eee;
}
header.header-global .search-group form.search .search-term {
    display: none;
}
header.header-global .search-group form.search .search-button {
    display: none;
}
/* hide header items */
.header-global .nav-global {
    display: none;
}

body {
    background: #fbfbfb;
}
.content-wrapper {
    background: #fbfbfb;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}
.wrapper-footer {
    background: #d6d6d6;
}
.header-global .user .user-link .label-username {
    color: #eee;
}

.header-global .user .dropdown {
    background: none;
    color: #eee;
}

/* Quicklabs page */
.btn-quicklabs-action {
    color: #2c2e50;
    background: #abd155;
    box-shadow: none;
    border-radius: 4px;
}
.btn-quicklabs-action:hover {
    background: #abd155;
}

#global-navigation > nav .logo{ 
    width: auto;
    max-height: 45px;
    position: inline;
} 

#global-navigation > nav > h1 {
    float: left;
    margin: 0;
}

#OLLogo.logo { 
    padding-left: 2rem; 
}

/* Hide quicklabs code */
.row.course-details-header h2 {
    display: none;
}

.row course-details-header {
    display: none;
}

/* Quicklabs header */
.row.course-details-header h1 {
    @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');
    font-family: 'Asap', sans-serif;
    font-size: 36px;
    color: #2C2E50;
    font-weight: 550;
    letter-spacing: 0;
    margin:0;
    padding: 0;
}
.row.course-details-content p {
    @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    color: #6B7797;
    letter-spacing: 0;
}



#content > div > section > div > div > a > div.developer--card__bottom > p.available {
    position: absolute;
    display: flex;
    align-items: center;
}

/* Optionally hide the entire side area */
.row.course-details-content .col-md-4 {
    display: none;
}

.effort {
    padding-top: 2em;
    display: flex;
    align-items:center;
}

#OLclock {
    padding-right: 0.5em;
}

.content {
    color: #FF1493;
    overflow:hidden
}

.header-global .primary>a:hover, .header-global .primary>a:focus, .header-global .primary>a:active {
    background: inherit;
    border: .2em solid white;
    border-radius: .2em;
}

#content > div > section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        padding-bottom: 2rem;
    }

#content > div > section:after {
        content: "";
        flex-basis: 32%;
    }
    
#content > div > section > div {
        flex: 0 32%;
        margin-bottom: 2%; /* (100-32*3)/2 */
        position: relative;
        padding: 1rem;
        background-color: #f4f4f4;
        outline: 2px solid transparent;
        outline-offset: -2px;
    }
    
#content > div > section > div > div > a > div.developer--card__bottom > p.available {
        position: absolute;
        bottom: 8%;
        display: flex;
        align-items: center;
    }
    
    
/*#content > div > div > div {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        justify-content: space-between;*/
/*        align-items: stretch;*/
/*        padding-bottom: 2rem;*/
/*    }*/
    
/*    #content > div > div:after {*/
/*        content: "";*/
/*        flex-basis: 32%;*/
/*    }*/
    
/*#content > div > div > div > div > section {*/
/*        flex: 0 32%;*/
/*        margin-bottom: 2%;  (100-32*3)/2 */
/*        position: relative;*/
/*        padding: 1rem;*/
/*        background-color: #ffffff;*/
/*        outline: 2px solid transparent;*/
/*        outline-offset: -2px;*/
/*    }*/
    
/*#content > div > div > div > div > section > div > div > a > div.developer--card__bottom > p.available {*/
/*        position: absolute;*/
/*        bottom: 8%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*    }*/

/*
body > div > div.wrapper.wrapper-footer {
    max-width: 100%;
    overflow:hidden;
    position:relative;
    // negative value of footer height
    height:120px;
    margin-top:-32px;
}
*/

body > div > div.wrapper.wrapper-footer {
    overflow:hidden;
    width: 100%;
    position:absolute;
    bottom: 0%;
    height:120px;
}

body > div > div.wrapper.wrapper-footer > footer > p {
        color: #767676;
}

body > div > div.wrapper.wrapper-footer {
    height: 6rem;
    /*position:fixed;*/
    /*width:100%;*/
    padding-top: 0.5rem;
}

body > div > div.wrapper.wrapper-footer > footer > p {
    margin:0;
}

#footer-openedx > div {
    margin-bottom:-1rem;
}

/*Code to change the height of grid boxes*/
#content > div > div > div > div > section {
    padding-bottom: 3%;
    margin-bottom: -1%;
}

#content > div > div > div > div > section > div {
    margin-bottom:0px !important;
}

.row .bx--col-sm-4.bx--col-lg-4 {
    height: 100%;
}

.row {
    display: flex;
}

#content > div > div > div > div:last-child > section {
    /*margin-bottom:-1rem !important;*/
    margin-bottom:2rem !important;
}

#content > div > div > div > div > section > div > div > a > div.developer--card__body > h2 {
    font-size: 1.5rem !important;
}
