<%page expression_filter="h"/>
<%! from openedx.core.djangolib.js_utils import js_escaped_string
import simplejson as json
%>

<%
  support_widget_config = json.dumps({
    'support_tab_label': settings.LEARNER_SUPPORT_CONFIG.get('SUPPORT_TAB_LABEL', 'Support'),
    'support_tab_position': settings.LEARNER_SUPPORT_CONFIG.get('SUPPORT_TAB_POSITION', 'middle-right'),
    'support_tab_text_color': settings.LEARNER_SUPPORT_CONFIG.get('SUPPORT_TAB_TEXT_COLOR', '#ffffff'),
    'support_tab_background_color': settings.LEARNER_SUPPORT_CONFIG.get('SUPPORT_TAB_BACKGROUND_COLOR', '#337ab7'),
    'custom_support_enabled': settings.LEARNER_SUPPORT_CONFIG.get('CUSTOM_SUPPORT_ENABLED', False),
    'custom_support_url': settings.LEARNER_SUPPORT_CONFIG.get('CUSTOM_SUPPORT_URL')
  })
%>

% if settings.LEARNER_SUPPORT_CONFIG.get('SUPPORT_ENABLED', False) and settings.LEARNER_SUPPORT_CONFIG.get('SUPPORT_WIDGET_URL', False):
  <script type="text/javascript" src="${ settings.LEARNER_SUPPORT_CONFIG.get('SUPPORT_WIDGET_URL') }/support_widget.js") defer="defer"></script>
  <link rel="stylesheet" href="${ settings.LEARNER_SUPPORT_CONFIG.get('SUPPORT_WIDGET_URL') }/support_widget.css") defer="defer"/>
  <script>
    window.onload = function() {
      createSupportTab(${ support_widget_config | n });
      };
    </script>
% endif