name: Mirror a guide to AWB (test)

on:
  workflow_dispatch:
    inputs:
      guide_name:
        description: 'Guide name, e.g. cdi-intro'
        required: true
      to:
        description: 'prod or staging'
        required: true

jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps: 
      - name: Output message
        run: |
          echo "Guide name: ${{ github.event.inputs.guide_name }}"
          echo "To: ${{ github.event.inputs.to }}"

  matrixProd:
    runs-on: ubuntu-latest
    if: github.event.inputs.to == 'prod'
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrixProd }}
    steps:
    - uses: actions/checkout@master
    - id: set-matrix
      run: |
        TASKS=$(echo $(cat $GITHUB_WORKSPACE/.github/workflows/mirror.json))
        TASKS="${TASKS//'%'/'%25'}"
        TASKS="${TASKS//$'\n'/'%0A'}"
        TASKS="${TASKS//$'\r'/'%0D'}"
        echo "matrixProd=$TASKS" >> $GITHUB_OUTPUT

  matrixStaging:
    runs-on: ubuntu-latest
    if: github.event.inputs.to == 'staging'
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrixStaging }}
    steps:
    - uses: actions/checkout@master
    - id: set-matrix
      run: |
        TASKS=$(echo $(cat $GITHUB_WORKSPACE/.github/workflows/StagingMirror.json))
        TASKS="${TASKS//'%'/'%25'}"
        TASKS="${TASKS//$'\n'/'%0A'}"
        TASKS="${TASKS//$'\r'/'%0D'}"
        echo "matrixStaging=$TASKS" >> $GITHUB_OUTPUT

  deployProd:
    needs: [matrixProd]
    continue-on-error: true
    runs-on: ubuntu-latest
    if: github.event.inputs.to == 'prod'
    strategy:
      matrix:
        repo: ${{fromJson(needs.matrixProd.outputs.matrix)}}
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          ref: prod
      - name: Check If Guide Exists
        run: |
          if [ "${{ github.event.inputs.guide_name }}" = "${{matrix.repo.guide}}" ]; then 
            echo "Mirroring "${{ github.event.inputs.guide_name }}" to AuthorWorkbench";
            echo "awb url: https://author-workbench.skills.network/quicklabs/${{matrix.repo.quicklab_id}}/labs/${{matrix.repo.lab_id}}";
          else
            echo "Skipping "${{matrix.repo.github}}"";
            exit 1;
          fi

      - name: Check for insturctions.md
        run: |
          FILE_PATH="instructions/${{ matrix.repo.github }}/instructions.md"
          if [[ -f "$FILE_PATH" ]]; then
            echo "'$FILE_PATH' exists."
          else
            echo "'$FILE_PATH' does not exist."
            exit 1
          fi
      - name: Mirror to AWB
        env:
          LAB_ID: ${{ matrix.repo.lab_id }}
          OAUTH_TOKEN: ${{ secrets.AWB_OAUTH_TOKEN }}
          FILE_PATH: instructions/${{ matrix.repo.github }}/instructions.md
          PUBLISH: true
        run: |
            chmod +x ${{ github.workspace }}/.github/workflows/deploy_guide.sh
            ${{ github.workspace }}/.github/workflows/deploy_guide.sh $LAB_ID $OAUTH_TOKEN $FILE_PATH "$(git log -1 --pretty=format:"%s" -- $FILE_PATH)" $PUBLISH "https://author.skills.network"

  deployStaging:
    needs: [matrixStaging]
    continue-on-error: true
    runs-on: ubuntu-latest
    if: github.event.inputs.to == 'staging'
    strategy:
      matrix:
        repo: ${{fromJson(needs.matrixStaging.outputs.matrix)}}
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          ref: staging
      - name: Check If Guide Exists
        run: |
          if [ "${{ github.event.inputs.guide_name }}" = "${{matrix.repo.guide}}" ]; then 
            echo "Mirroring "${{ github.event.inputs.guide_name }}" to AuthorWorkbench";
            echo "awb url: https://author-workbench.skills.network/quicklabs/${{matrix.repo.quicklab_id}}/labs/${{matrix.repo.lab_id}}";
          else
            echo "Skipping "${{matrix.repo.github}}"";
            exit 1;
          fi
      - name: Check for insturctions.md
        run: |
          FILE_PATH="instructions/${{ matrix.repo.github }}/instructions.md"
          if [ ! -f "$FILE_PATH" ]; then
              echo "'$FILE_PATH' does not exist."
              exit 1
          fi
          echo "Found '$FILE_PATH'"
      - name: Mirror to AWB
        env:
          LAB_ID: ${{ matrix.repo.lab_id }}
          OAUTH_TOKEN: "${{ secrets.AWB_OAUTH_TOKEN }}"
          PUBLISH: false
          FILE_PATH: "instructions/${{ matrix.repo.github }}/instructions.md"
        run: |
          chmod +x ${{ github.workspace }}/.github/workflows/deploy_guide.sh
          ${{ github.workspace }}/.github/workflows/deploy_guide.sh $LAB_ID $OAUTH_TOKEN $FILE_PATH "$(git log -1 --pretty=format:"%s" -- $FILE_PATH)" $PUBLISH "https://author.skills.network"
