name: ManuallyConverterAllGuides
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch pushed to'     
        required: true
        default: 'staging'
      GuideConverterBranch:
        description: 'GuideConverter branch to use'
        required: true
        default: 'refs/heads/main'
      PRNumber:
        description: 'GuideConverter repo PR Number (if Manually triggered leave "0")'
        required: true
        default: '0'
        
jobs:

  printBranch:
    runs-on: ubuntu-latest

    steps: 

      - name: Output message
        run: |
          echo "${{ github.event.inputs.branch }}"
          echo "${{ github.event.inputs.GuideConverterBranch }}"
          echo "${{ github.event.inputs.PRNumber }}"
  matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      # Any prerequisite steps
    - uses: actions/checkout@master
    
    - id: set-matrix
      run: |
        TASKS=$(echo $(cat $GITHUB_WORKSPACE/.github/workflows/guides.json))
        TASKS="${TASKS//'%'/'%25'}"
        TASKS="${TASKS//$'\n'/'%0A'}"
        TASKS="${TASKS//$'\r'/'%0D'}"
        echo "::set-output name=matrix::$TASKS"
  convertProd:
    needs: matrix
    name: Make PR to Prod
    runs-on: ubuntu-latest
    strategy:
      matrix:
        guides: ${{fromJson(needs.matrix.outputs.matrix)}}
    if: contains(github.event.inputs.branch, 'main') || contains(github.event.inputs.branch, 'prod')

    steps:

      # Any prerequisite steps
      - uses: actions/checkout@master
        
      - name: Checkout Guide Converter repo
        uses: actions/checkout@v3
        with:
          repository: OpenLiberty/cloud-hosted-guide-converter
          ref: ${{ github.event.inputs.GuideConverterBranch }}
          path: GuideConverter
        
      - name: Checkout guide repo
        uses: actions/checkout@v3
        with:
          repository: OpenLiberty/${{matrix.guides.guide}}
          path: GuideConverter/${{matrix.guides.guide}}
        
      - name: Checkout guides-common repo
        uses: actions/checkout@v3
        with:
          repository: OpenLiberty/guides-common
          path: GuideConverter/guides-common


      - uses: actions/setup-java@v1
        with:
          java-version: '16' # The JDK version to make available on the path.
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64 # (x64 or x86) - defaults to x64

      - name: Run Converter
        run: |
          branchName=${{ github.event.inputs.branch }}
          git init
          mkdir -p instructions/${{matrix.guides.instructionDir}}
          rm -f instructions/cloud-hosted-${{matrix.guides.guide}}/README.md
          cd GuideConverter
          mvn compiler:compile
          mvn exec:java -Dexec.args="${{matrix.guides.guide}} ${branchName}"
          rm -f importFunctions.class
          rm -f functions.class
          rm -f CloudHostedGuideConverter.class
          cd ..
          mv GuideConverter/${{matrix.guides.guide}}.md instructions/${{matrix.guides.instructionDir}}/${{matrix.guides.instruction}}
          rm -rf GuideConverter
          bash .github/workflows/draftRemoval.sh ${{matrix.guides.guide}}
          git add .
          git config --global user.email "GuidesBot@OpenLiberty.io"
          git config --global user.name "GuidesBot"
      - uses: actions/upload-artifact@v3
        with:
          name: ${{matrix.guides.instructionDir}}
          path: |
            instructions/${{matrix.guides.instructionDir}}/${{matrix.guides.instruction}}

  createPullRequestProd:
    needs: convertProd
    runs-on: ubuntu-latest
    if: github.event.inputs.PRNumber != 0

    steps:
      - uses: actions/checkout@v3

      # Download all artifacts
      # https://github.com/actions/download-artifact#download-all-artifacts
      - uses: actions/download-artifact@v2
        with:
          path: instructions/

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          title: "To Prod: Change to multiple Guides"
          token: ${{ secrets.GUIDECONVERSIONTOOL_PASSWORD }}
          body: "Updated by github actions, triggered by GuideConverter repo ([PR](https://github.com/OpenLiberty/cloud-hosted-guide-converter/pull/${{ github.event.inputs.PRNumber }}))."
          branch: "cloud-hosted-All/prod"
          base: "prod"
          labels: "TestAll"

  createPullRequestProd0:
    needs: convertProd
    runs-on: ubuntu-latest
    if: github.event.inputs.PRNumber == 0

    steps:
      - uses: actions/checkout@v3

      # Download all artifacts
      # https://github.com/actions/download-artifact#download-all-artifacts
      - uses: actions/download-artifact@v2
        with:
          path: instructions/

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          title: "To Prod: Change to All Guides (Manually triggered)"
          token: ${{ secrets.GUIDECONVERSIONTOOL_PASSWORD }}
          body: "Updated by github actions, triggered Manually."
          branch: "cloud-hosted-All/prod"
          base: "prod"
          labels: "TestAll"

  convertStaging:
    needs: matrix
    name: Make PR to Staging
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        guides: ${{fromJson(needs.matrix.outputs.matrix)}}
    if: contains(github.event.inputs.branch, 'staging')

    steps:
      # Any prerequisite steps
      - uses: actions/checkout@master

      - name: Checkout Guide Converter repo
        uses: actions/checkout@v3
        with:
          repository: OpenLiberty/cloud-hosted-guide-converter
          ref: ${{ github.event.inputs.GuideConverterBranch }}
          path: GuideConverter

      - name: Checkout guide repo
        uses: actions/checkout@v3
        with:
          ref: staging
          repository: OpenLiberty/${{matrix.guides.guide}}
          path: GuideConverter/${{matrix.guides.guide}}

      - name: Checkout guides-common repo
        uses: actions/checkout@v3
        with:
          repository: OpenLiberty/guides-common
          path: GuideConverter/guides-common

      - uses: actions/setup-java@v1
        with:
          java-version: "15" # The JDK version to make available on the path.
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64 # (x64 or x86) - defaults to x64

      - name: Run Converter
        run: |
          git init
          mkdir -p instructions/${{matrix.guides.instructionDir}}
          rm -f instructions/${{matrix.guides.instructionDir}}/README.md
          cd GuideConverter
          mvn compiler:compile
          mvn exec:java -Dexec.args="${{matrix.guides.guide}} ${{ github.event.inputs.branch }}"
          rm -f importFunctions.class
          rm -f functions.class
          rm -f CloudHostedGuideConverter.class
          cd ..
          mv GuideConverter/${{matrix.guides.guide}}.md instructions/${{matrix.guides.instructionDir}}/${{matrix.guides.instruction}}
          rm -rf GuideConverter
          bash .github/workflows/draftRemoval.sh ${{matrix.guides.guide}}
          git add .
          git config --global user.email "GuidesBot@OpenLiberty.io"
          git config --global user.name "GuidesBot"
      - uses: actions/upload-artifact@v3
        with:
          name: ${{matrix.guides.instruction}}
          path: instructions/${{matrix.guides.instructionDir}}/${{matrix.guides.instruction}}

  createPullRequestStaging:
    needs: convertStaging
    runs-on: ubuntu-latest
    if: github.event.inputs.PRNumber != 0

    steps:
      - uses: actions/checkout@v3

      # Download all artifacts
      # https://github.com/actions/download-artifact#download-all-artifacts
      - uses: actions/download-artifact@v2
        with:
          path: instructions/

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          title: "To Staging: Change to multiple Guides"
          token: ${{ secrets.GUIDECONVERSIONTOOL_PASSWORD }}
          body: "Updated by github actions, triggered by GuideConverter repo ([PR](https://github.com/OpenLiberty/cloud-hosted-guide-converter/pull/${{ github.event.inputs.PRNumber }}))."
          branch: "cloud-hosted-Manual-ALL/staging"
          base: "staging"
          labels: "TestAll"


  createPullRequestStaging0:
    needs: convertStaging
    runs-on: ubuntu-latest
    if: github.event.inputs.PRNumber == 0

    steps:
      - uses: actions/checkout@v3

      # Download all artifacts
      # https://github.com/actions/download-artifact#download-all-artifacts
      - uses: actions/download-artifact@v2
        with:
          path: instructions/

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          title: "To Staging: Change to multiple Guides (Manually triggered)"
          token: ${{ secrets.GUIDECONVERSIONTOOL_PASSWORD }}
          body: "Updated by github actions, triggered Manually."
          branch: "cloud-hosted-Manual-ALL/staging"
          base: "staging"
          labels: "TestAll"