name: Mirror to Staging Quicklab
 
# Triggers the workflow on push events but only for the staging branch.
on:
  push:
    branches: [ staging ]

jobs:
  deploy:
    name: Staging Mirror
    continue-on-error: true
    runs-on: ubuntu-latest
    strategy:
      matrix: # Uses an array of Json variables to pass the repo names.
              # The names differ between Github and Gitlab so this is necessary.
              # Add new cloud-hosted-guides here to add them to the mirror process.
              # i.e. {"github":"new-lab-github-url","gitlab":"new-lab-gitlab-url"}
        repo: 
          - {"github":"cloud-hosted-draft-guide-development-1","gitlab":"IBM-GPXX0O52EN"}
          - {"github":"cloud-hosted-draft-guide-development-2","gitlab":"IBM-GPXX0IH4EN"}
          - {"github":"cloud-hosted-draft-guide-development-3","gitlab":"IBM-GPXX0D1WEN"}
          - {"github":"cloud-hosted-draft-guide-development-4","gitlab":"IBM-GPXX0OREEN"}
          - {"github":"cloud-hosted-draft-guide-development-5","gitlab":"IBM-GPXX0FRDEN"}
          - {"github":"cloud-hosted-draft-guide-development-6","gitlab":"IBM-GPXX0M75EN"}
          # - {"github":"cloud-hosted-guide-cdi-intro","gitlab":"cloud-hosted-guide-cdi-intro"}
          # - {"github":"cloud-hosted-guide-containerize","gitlab":"cloud-hosted-guide-containerize"}
          # - {"github":"cloud-hosted-guide-docker","gitlab":"cloud-hosted-guide-docker"}
          # - {"github":"cloud-hosted-guide-getting-started","gitlab":"cloud-hosted-guide-getting-started"}
          # - {"github":"cloud-hosted-guide-kubernetes-intro","gitlab":"cloud-hosted-guide-kubernetes-intro"}
          # - {"github":"cloud-hosted-guide-kubernetes-microprofile-config","gitlab":"cloud-hosted-guide-kubernetes-microprofile-config"}
          # - {"github":"cloud-hosted-guide-kubernetes-microprofile-health","gitlab":"cloud-hosted-guide-kubernetes-microprofile-health"}
          # - {"github":"cloud-hosted-guide-microprofile-config","gitlab":"cloud-hosted-guide-microprofile-config"}
          # - {"github":"cloud-hosted-guide-microprofile-fallback","gitlab":"cloud-hosted-guide-microprofile-fallback"}
          # - {"github":"cloud-hosted-guide-microprofile-health","gitlab":"cloud-hosted-guide-microprofile-health"}
          # - {"github":"cloud-hosted-guide-microprofile-jwt","gitlab":"cloud-hosted-guide-microprofile-jwt"}
          # - {"github":"cloud-hosted-guide-microprofile-metrics","gitlab":"cloud-hosted-guide-microprofile-metrics"}
          # - {"github":"cloud-hosted-guide-microprofile-openapi","gitlab":"cloud-hosted-guide-microprofile-openapi"}
          # - {"github":"cloud-hosted-guide-microprofile-opentracing-jaeger","gitlab":"cloud-hosted-guide-microprofile-opentracing-jaeger"}
          # - {"github":"cloud-hosted-guide-microprofile-opentracing","gitlab":"cloud-hosted-guide-microprofile-opentracing"}
          # - {"github":"cloud-hosted-guide-microprofile-reactive-messaging-acknowledgment","gitlab":"cloud-hosted-guide-microprofile-reactive-messaging-acknowledgment"}
          # - {"github":"cloud-hosted-guide-microprofile-reactive-messaging-rest-integration","gitlab":"cloud-hosted-guide-microprofile-reactive-messaging-rest-integration"}
          # - {"github":"cloud-hosted-guide-microprofile-rest-client-async","gitlab":"cloud-hosted-guide-microprofile-rest-client-async"}
          # - {"github":"cloud-hosted-guide-microprofile-rest-client","gitlab":"cloud-hosted-guide-microprofile-rest-client"}
          # - {"github":"cloud-hosted-guide-microshed-testing","gitlab":"cloud-hosted-guide-microshed-testing"}
          - {"github":"cloud-hosted-guide-reactive-messaging-openshift","gitlab":"IBM-GPXX0VSVEN"}
          # - {"github":"cloud-hosted-guide-microprofile-reactive-messaging","gitlab":"cloud-hosted-guide-reactive-messaging"}
          # - {"github":"cloud-hosted-guide-reactive-rest-client","gitlab":"cloud-hosted-guide-reactive-rest-client"}
          # - {"github":"cloud-hosted-guide-reactive-service-testing","gitlab":"cloud-hosted-guide-reactive-service-testing"}
          # - {"github":"cloud-hosted-guide-rest-client-java","gitlab":"cloud-hosted-guide-rest-client-java"}
          # - {"github":"cloud-hosted-guide-rest-intro","gitlab":"cloud-hosted-guide-rest-intro"}
          # - {"github":"cloud-hosted-guide-contract-testing","gitlab":"cloud-hosted-guide-contract-testing"}
          # - {"github":"cloud-hosted-guide-reactive-messaging-sse","gitlab":"cloud-hosted-guide-reactive-messaging-sse"}
          - {"github":"cloud-hosted-guide-liberty-deep-dive-v1","gitlab":"cloud-hosted-guide-masterclass"}
          - {"github":"cloud-hosted-guide-rest-openshift","gitlab":"cloud-hosted-guide-rest-openshift"}
          # - {"github":"cloud-hosted-guide-spring-boot","gitlab":"cloud-hosted-guide-spring-boot"}
          # - {"github":"cloud-hosted-guide-bean-validation","gitlab":"cloud-hosted-guide-bean-validation"}
          # - {"github":"cloud-hosted-guide-arquillian-managed","gitlab":"cloud-hosted-guide-arquillian-managed"}
          # - {"github":"cloud-hosted-guide-cors","gitlab":"cloud-hosted-guide-cors"}
          # - {"github":"cloud-hosted-guide-jpa-intro","gitlab":"cloud-hosted-guide-jpa-intro"}
          # - {"github":"cloud-hosted-guide-microprofile-graphql","gitlab":"cloud-hosted-guide-microprofile-graphql"}
          # - {"github":"cloud-hosted-guide-maven-intro","gitlab":"cloud-hosted-guide-maven-intro"}
          # - {"github":"cloud-hosted-guide-rest-client-angular","gitlab":"cloud-hosted-guide-rest-client-angular"}
          # - {"github":"cloud-hosted-guide-rest-client-angularjs","gitlab":"cloud-hosted-guide-rest-client-angularjs"}
          # - {"github":"cloud-hosted-guide-rest-client-reactjs","gitlab":"cloud-hosted-guide-rest-client-reactjs"}
          # - {"github":"cloud-hosted-guide-rest-hateoas","gitlab":"cloud-hosted-guide-rest-hateoas"}
          # - {"github":"cloud-hosted-guide-openliberty-operator-intro","gitlab":"cloud-hosted-guide-openliberty-operator-intro"}
          # - {"github":"cloud-hosted-guide-openliberty-operator-openshift","gitlab":"cloud-hosted-guide-openliberty-operator-openshift"}
          # - {"github":"cloud-hosted-guide-maven-multimodules","gitlab":"cloud-hosted-guide-maven-multimodules"}
          - {"github":"cloud-hosted-guide-jakarta-websocket","gitlab":"IND-GPXX0TEQEN","gitlab_branch":"main"}




    steps:

    # Any prerequisite steps
    - uses: actions/checkout@master
      with: 
        ref: staging

    # Mirror to Gitlab repo
    - name: Mirror
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: git@ssh.author-gitlab.skills.network:quicklabs/${{matrix.repo.gitlab}}.git
        BRANCH: staging
        FOLDER: instructions/${{matrix.repo.github}}
        MESSAGE: "{msg}" # Sets the commit message on gitlab to be the same as on github.
        SSH_PRIVATE_KEY: ${{secrets.DEPLOY_KEY_QUICK_LABS}}
        KNOWN_HOSTS_FILE: .github/workflows/known_hosts # Needed if target repo is not on github.com.
        SKIP_EMPTY_COMMITS: "true"
    
    # Output link to staged files
    - name: Print staging lab URL
      run: echo "Staging quicklab available at https://labs.cognitiveclass.ai/tools/theiadocker/lab/tree?md_instructions_url=https://cf-course-data-staging.s3.us-east.cloud-object-storage.appdomain.cloud/${{matrix.repo.gitlab}}/instructions.md"
      shell: bash
